In [6]:
#  Titanic Analysis - Part 1: Dataset Inspection

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('/content/train.csv')

# 1. Display the first and last few rows
print("🔹 First 5 rows:")
print(df.head())
print("\n🔹 Last 5 rows:")
print(df.tail())

# 2. Print dataset shape and column names
print("\n🔹 Dataset Shape:", df.shape)
print("🔹 Column Names:", df.columns.tolist())

# 3. Use info() and describe() for data types and stats
print("\n🔹 Dataset Info:")
df.info()

print("\n🔹 Dataset Description:")
print(df.describe(include='all'))

# 4. Check for duplicate rows
duplicate_rows = df.duplicated().sum()
print("\n🔹 Number of duplicate rows:", duplicate_rows)

🔹 First 5 rows:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

🔹 Last 5 rows:
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

🔹 Dataset Shape: (891, 12)
🔹 Column Names: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

🔹 Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

🔹 Dataset Description:
        PassengerId    Survived      Pclass                 Name   Sex  \
count    891.000000  891.000000  891.000000                  891   891
unique          NaN         NaN         NaN                  891     2
top             NaN         NaN         NaN  Dooley, Mr. Patrick  male
freq            NaN         NaN         NaN                    1   577
mean     446.000000    0.383838    2.308642                  NaN   NaN
std      257.353842    0.486592    0.836071                  NaN   NaN
min        1.000000    0.000000    1.000000                  NaN   NaN
25%      223.500000    0.000000    2.000000                  NaN   NaN
50%      446.000000    0.000000    3.000000                  NaN   NaN
75%      668.500000    1.000000    3.000000                  NaN   NaN
max      891.000000    1.000000    3.000000                  NaN   NaN

               Age       SibSp       Parch  Ticket        Fare Cabin Embarked
count   714.000000  891.000000  891.000000     891  891.000000   204      889
unique         NaN         NaN         NaN     681         NaN   147        3
top            NaN         NaN         NaN  347082         NaN    G6        S
freq           NaN         NaN         NaN       7         NaN     4      644
mean     29.699118    0.523008    0.381594     NaN   32.204208   NaN      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429   NaN      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000   NaN      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400   NaN      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200   NaN      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000   NaN      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200   NaN      NaN

🔹 Number of duplicate rows: 0

In [5]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [9]:
#  Part 2: Data Exploration

# 1. Show names of the passengers and inspect Name, Sex, and Age
print("🔹 First 5 rows of Name, Sex, Age:")
print(df[['Name', 'Sex', 'Age']].head())

# 2. Use iloc and loc to extract specific rows and ranges
print("\n🔹 Row at index 3 using iloc:")
print(df.iloc[3])

print("\n🔹 Rows 10 to 14 using iloc:")
print(df.iloc[10:15])

print("\n🔹 Passengers with Pclass = 1 using loc:")
print(df.loc[df['Pclass'] == 1].head())

# 3. Unique values in 'Sex' column
print("\n🔹 Unique values in 'Sex':")
print(df['Sex'].unique())

# 4. Count values in 'Embarked' column
print("\n🔹 Value counts for 'Embarked':")
print(df['Embarked'].value_counts())

# 5. Filter passengers older than 60 and show Name, Age, Survived
print("\n🔹 Passengers older than 60:")
print(df.loc[df['Age'] > 60, ['Name', 'Age', 'Survived']])

# 6. Filter all female passengers in 1st class, show Name, Pclass, Sex
print("\n🔹 Female passengers in 1st class:")
print(df.loc[(df['Sex'] == 'female') & (df['Pclass'] == 1), ['Name', 'Sex', 'Pclass']])

🔹 First 5 rows of Name, Sex, Age:
                                                Name     Sex   Age
0                            Braund, Mr. Owen Harris    male  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                             Heikkinen, Miss. Laina  female  26.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                           Allen, Mr. William Henry    male  35.0

🔹 Row at index 3 using iloc:
PassengerId                                               4
Survived                                                  1
Pclass                                                    1
Name           Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                                  female
Age                                                    35.0
SibSp                                                     1
Parch                                                     0
Ticket                                               113803
Fare                                                   53.1
Cabin                                                  C123
Embarked                                                  S
Name: 3, dtype: object

🔹 Rows 10 to 14 using iloc:
    PassengerId  Survived  Pclass                                  Name  \
10           11         1       3       Sandstrom, Miss. Marguerite Rut
11           12         1       1              Bonnell, Miss. Elizabeth
12           13         0       3        Saundercock, Mr. William Henry
13           14         0       3           Andersson, Mr. Anders Johan
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina

       Sex   Age  SibSp  Parch     Ticket     Fare Cabin Embarked
10  female   4.0      1      1    PP 9549  16.7000    G6        S
11  female  58.0      0      0     113783  26.5500  C103        S
12    male  20.0      0      0  A/5. 2151   8.0500   NaN        S
13    male  39.0      1      5     347082  31.2750   NaN        S
14  female  14.0      0      0     350406   7.8542   NaN        S

🔹 Passengers with Pclass = 1 using loc:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S

🔹 Unique values in 'Sex':
['male' 'female']

🔹 Value counts for 'Embarked':
Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

🔹 Passengers older than 60:
                                          Name   Age  Survived
33                       Wheadon, Mr. Edward H  66.0         0
54              Ostby, Mr. Engelhart Cornelius  65.0         0
96                   Goldschmidt, Mr. George B  71.0         0
116                       Connors, Mr. Patrick  70.5         0
170                  Van der hoef, Mr. Wyckoff  61.0         0
252                  Stead, Mr. William Thomas  62.0         0
275          Andrews, Miss. Kornelia Theodosia  63.0         1
280                           Duane, Mr. Frank  65.0         0
326                  Nysveen, Mr. Johan Hansen  61.0         0
438                          Fortune, Mr. Mark  64.0         0
456                  Millet, Mr. Francis Davis  65.0         0
483                     Turkula, Mrs. (Hedwig)  63.0         1
493                    Artagaveytia, Mr. Ramon  71.0         0
545               Nicholson, Mr. Arthur Ernest  64.0         0
555                         Wright, Mr. George  62.0         0
570                         Harris, Mr. George  62.0         1
625                      Sutton, Mr. Frederick  61.0         0
630       Barkworth, Mr. Algernon Henry Wilson  80.0         1
672                Mitchell, Mr. Henry Michael  70.0         0
745               Crosby, Capt. Edward Gifford  70.0         0
829  Stone, Mrs. George Nelson (Martha Evelyn)  62.0         1
851                        Svensson, Mr. Johan  74.0         0

🔹 Female passengers in 1st class:
                                                  Name     Sex  Pclass
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female       1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female       1
11                            Bonnell, Miss. Elizabeth  female       1
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female       1
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female       1
..                                                 ...     ...     ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female       1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female       1
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female       1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female       1
887                       Graham, Miss. Margaret Edith  female       1

[94 rows x 3 columns]

In [7]:
#  Part 3: Handling Missing Data (Updated Version)

# 1. Count missing values per column and calculate percentages
print("🔹 Missing values per column:")
missing_count = df.isnull().sum()
missing_percent = (missing_count / len(df)) * 100
missing_df = pd.DataFrame({'Missing Count': missing_count, 'Percentage': missing_percent})
print(missing_df)

# 2. Drop the  column (too many missing values)
print("\n🔹 Dropping 'Cabin' column...")
##df = df.drop(columns=['Cabin'])

# 3. Drop rows that are completely empty
print("\n🔹 Dropping completely empty rows...")
df = df.dropna(how='all')

# 4. Fill missing 'Embarked' values with the most frequent category
most_common_embarked = df['Embarked'].mode()[0]
df['Embarked'] = df['Embarked'].fillna(most_common_embarked)
print(f"\n🔹 Filled missing 'Embarked' with: {most_common_embarked}")

# 5. Fill missing 'Age' values with the median
median_age = np.nanmedian(df['Age'])
df['Age'] = df['Age'].fillna(median_age)
print(f"🔹 Filled missing 'Age' with median value: {median_age}")

🔹 Missing values per column:
             Missing Count  Percentage
PassengerId              0    0.000000
Survived                 0    0.000000
Pclass                   0    0.000000
Name                     0    0.000000
Sex                      0    0.000000
Age                    177   19.865320
SibSp                    0    0.000000
Parch                    0    0.000000
Ticket                   0    0.000000
Fare                     0    0.000000
Cabin                  687   77.104377
Embarked                 2    0.224467

🔹 Dropping 'Cabin' column...

🔹 Dropping completely empty rows...

🔹 Filled missing 'Embarked' with: S
🔹 Filled missing 'Age' with median value: 28.0

In [8]:
#  Part 4: Statistical Summaries

import numpy as np

# 1. Basic stats for Age and Fare
print("🔹 Age and Fare - Mean, Median, Std:")
print("Age - Mean:", df['Age'].mean())
print("Age - Median:", df['Age'].median())
print("Age - Std Dev:", df['Age'].std())
print("Age - 25th, 50th, 75th Percentiles:", np.percentile(df['Age'], [25, 50, 75]))

print("\nFare - Mean:", df['Fare'].mean())
print("Fare - Median:", df['Fare'].median())
print("Fare - Std Dev:", df['Fare'].std())
print("Fare - 25th, 50th, 75th Percentiles:", np.percentile(df['Fare'], [25, 50, 75]))

# 2. Survival rate by Sex
print("\n🔹 Survival Rate by Sex:")
print(df.groupby('Sex')['Survived'].mean())

# 3. Average Age grouped by Pclass and Sex
print("\n🔹 Average Age by Pclass and Sex:")
print(df.groupby(['Pclass', 'Sex'])['Age'].mean())

# 4. Fare statistics grouped by Embarked
print("\n🔹 Fare stats by Embarked:")
print(df.groupby('Embarked')['Fare'].agg(['mean', 'median', 'min', 'max']))

# 5. Use .agg() on Age and Fare
print("\n🔹 Aggregated stats (Age and Fare):")
print(df[['Age', 'Fare']].agg(['mean', 'median', 'std']))

# 6. Correlation between numeric columns
print("\n🔹 Correlation using Pandas:")
print(df.corr(numeric_only=True))

print("\n🔹 Correlation using NumPy (Age vs Fare):")
age_fare_corr = np.corrcoef(df['Age'], df['Fare'])[0, 1]
print("Correlation between Age and Fare:", age_fare_corr)

🔹 Age and Fare - Mean, Median, Std:
Age - Mean: 29.36158249158249
Age - Median: 28.0
Age - Std Dev: 13.019696550973194
Age - 25th, 50th, 75th Percentiles: [22. 28. 35.]

Fare - Mean: 32.204207968574636
Fare - Median: 14.4542
Fare - Std Dev: 49.693428597180905
Fare - 25th, 50th, 75th Percentiles: [ 7.9104 14.4542 31.    ]

🔹 Survival Rate by Sex:
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

🔹 Average Age by Pclass and Sex:
Pclass  Sex
1       female    33.978723
        male      38.995246
2       female    28.703947
        male      30.512315
3       female    23.572917
        male      26.911873
Name: Age, dtype: float64

🔹 Fare stats by Embarked:
               mean  median     min       max
Embarked
C         59.954144   29.70  4.0125  512.3292
Q         13.276030    7.75  6.7500   90.0000
S         27.243651   13.00  0.0000  263.0000

🔹 Aggregated stats (Age and Fare):
              Age       Fare
mean    29.361582  32.204208
median  28.000000  14.454200
std     13.019697  49.693429

🔹 Correlation using Pandas:
             PassengerId  Survived    Pclass       Age     SibSp     Parch  \
PassengerId     1.000000 -0.005007 -0.035144  0.034212 -0.057527 -0.001652
Survived       -0.005007  1.000000 -0.338481 -0.064910 -0.035322  0.081629
Pclass         -0.035144 -0.338481  1.000000 -0.339898  0.083081  0.018443
Age             0.034212 -0.064910 -0.339898  1.000000 -0.233296 -0.172482
SibSp          -0.057527 -0.035322  0.083081 -0.233296  1.000000  0.414838
Parch          -0.001652  0.081629  0.018443 -0.172482  0.414838  1.000000
Fare            0.012658  0.257307 -0.549500  0.096688  0.159651  0.216225

                 Fare
PassengerId  0.012658
Survived     0.257307
Pclass      -0.549500
Age          0.096688
SibSp        0.159651
Parch        0.216225
Fare         1.000000

🔹 Correlation using NumPy (Age vs Fare):
Correlation between Age and Fare: 0.09668842218036484

In [10]:
# 🔍 Part 5: Data Filtering

# 1. Passengers who paid fare over 100
print("🔹 Passengers with Fare > 100:")
print(df[df['Fare'] > 100][['Name', 'Fare']].head())

# 2. All female passengers and their survival status
print("\n🔹 Female passengers and survival:")
print(df[df['Sex'] == 'female'][['Name', 'Survived']].head())

# 3. Male passengers in 1st class with fare and age
print("\n🔹 Male passengers in 1st class:")
print(df[(df['Sex'] == 'male') & (df['Pclass'] == 1)][['Name', 'Fare', 'Age']].head())

# 4. Passengers younger than 18 or older than 60
print("\n🔹 Passengers younger than 18 or older than 60:")
print(df[(df['Age'] < 18) | (df['Age'] > 60)][['Name', 'Age']].head())

# 5. Using .query()
print("\n🔹 Passengers who embarked from 'S' and survived:")
print(df.query("Embarked == 'S' and Survived == 1")[['Name', 'Embarked', 'Survived']].head())

print("\n🔹 Passengers in 3rd class who paid over 50:")
print(df.query("Pclass == 3 and Fare > 50")[['Name', 'Pclass', 'Fare']].head())

# 6. Sort passengers by Fare descending
print("\n🔹 Passengers sorted by Fare (descending):")
print(df.sort_values(by='Fare', ascending=False)[['Name', 'Fare']].head())

# 7. Youngest surviving passenger
print("\n🔹 Youngest surviving passenger:")
print(df[df['Survived'] == 1].sort_values(by='Age')[['Name', 'Age', 'Survived']].head(1))

# 8. Boolean mask: Fare > 100 and in 1st class
print("\n🔹 Fare > 100 and Pclass = 1:")
mask = (df['Fare'] > 100) & (df['Pclass'] == 1)
print(df[mask][['Name', 'Fare', 'Pclass']].head())

🔹 Passengers with Fare > 100:
                                               Name      Fare
27                   Fortune, Mr. Charles Alexander  263.0000
31   Spencer, Mrs. William Augustus (Marie Eugenie)  146.5208
88                       Fortune, Miss. Mabel Helen  263.0000
118                        Baxter, Mr. Quigg Edmond  247.5208
195                            Lurette, Miss. Elise  146.5208

🔹 Female passengers and survival:
                                                Name  Survived
1  Cumings, Mrs. John Bradley (Florence Briggs Th...         1
2                             Heikkinen, Miss. Laina         1
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)         1
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         1
9                Nasser, Mrs. Nicholas (Adele Achem)         1

🔹 Male passengers in 1st class:
                              Name      Fare   Age
6          McCarthy, Mr. Timothy J   51.8625  54.0
23    Sloper, Mr. William Thompson   35.5000  28.0
27  Fortune, Mr. Charles Alexander  263.0000  19.0
30        Uruchurtu, Don. Manuel E   27.7208  40.0
34         Meyer, Mr. Edgar Joseph   82.1708  28.0

🔹 Passengers younger than 18 or older than 60:
                                    Name   Age
7         Palsson, Master. Gosta Leonard   2.0
9    Nasser, Mrs. Nicholas (Adele Achem)  14.0
10       Sandstrom, Miss. Marguerite Rut   4.0
14  Vestrom, Miss. Hulda Amanda Adolfina  14.0
16                  Rice, Master. Eugene   2.0

🔹 Passengers who embarked from 'S' and survived:
                                                 Name Embarked  Survived
2                              Heikkinen, Miss. Laina        S         1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)        S         1
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)        S         1
10                    Sandstrom, Miss. Marguerite Rut        S         1
11                           Bonnell, Miss. Elizabeth        S         1

🔹 Passengers in 3rd class who paid over 50:
                             Name  Pclass     Fare
74                  Bing, Mr. Lee       3  56.4958
159    Sage, Master. Thomas Henry       3  69.5500
169                 Ling, Mr. Lee       3  56.4958
180  Sage, Miss. Constance Gladys       3  69.5500
201           Sage, Mr. Frederick       3  69.5500

🔹 Passengers sorted by Fare (descending):
                                   Name      Fare
679  Cardeza, Mr. Thomas Drake Martinez  512.3292
258                    Ward, Miss. Anna  512.3292
737              Lesurer, Mr. Gustave J  512.3292
88           Fortune, Miss. Mabel Helen  263.0000
438                   Fortune, Mr. Mark  263.0000

🔹 Youngest surviving passenger:
                                Name   Age  Survived
803  Thomas, Master. Assad Alexander  0.42         1

🔹 Fare > 100 and Pclass = 1:
                                               Name      Fare  Pclass
27                   Fortune, Mr. Charles Alexander  263.0000       1
31   Spencer, Mrs. William Augustus (Marie Eugenie)  146.5208       1
88                       Fortune, Miss. Mabel Helen  263.0000       1
118                        Baxter, Mr. Quigg Edmond  247.5208       1
195                            Lurette, Miss. Elise  146.5208       1

In [11]:
#  Part 6: Feature Engineering

# 1. Create FamilySize = SibSp + Parch + 1
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
print("🔹 FamilySize column:")
print(df[['SibSp', 'Parch', 'FamilySize']].head())

# 2. Create IsAlone = 1 if FamilySize == 1
df['IsAlone'] = (df['FamilySize'] == 1).astype(int)
print("\n🔹 IsAlone column:")
print(df[['FamilySize', 'IsAlone']].head())

# 3. Extract Title from Name
df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
print("\n🔹 Title extracted from Name:")
print(df[['Name', 'Title']].head())

# 4. Group rare titles into 'Rare' and normalize others
rare_titles = ['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major',
               'Rev', 'Sir', 'Jonkheer', 'Dona']
df['Title'] = df['Title'].replace(rare_titles, 'Rare')
df['Title'] = df['Title'].replace({'Mlle': 'Miss', 'Ms': 'Miss', 'Mme': 'Mrs'})
print("\n🔹 Cleaned Title values:")
print(df['Title'].value_counts())

# 5. Create AgeBin using pd.cut()
df['AgeBin'] = pd.cut(df['Age'], bins=[0, 12, 18, 40, 60, 100],
                      labels=['Child', 'Teen', 'Adult', 'MidAge', 'Senior'])
print("\n🔹 AgeBin column:")
print(df[['Age', 'AgeBin']].head())

# 6. Create FareBin using pd.qcut()
df['FareBin'] = pd.qcut(df['Fare'], 4, labels=['Low', 'Mid', 'High', 'VeryHigh'])
print("\n🔹 FareBin column:")
print(df[['Fare', 'FareBin']].head())

# 7. Normalize Fare (Z-score)
df['Fare_Normalized'] = (df['Fare'] - df['Fare'].mean()) / df['Fare'].std()
print("\n🔹 Fare_Normalized column:")
print(df[['Fare', 'Fare_Normalized']].head())

# 8. Encode Sex as binary
df['Sex_Code'] = df['Sex'].map({'male': 0, 'female': 1})
print("\n🔹 Sex_Code column:")
print(df[['Sex', 'Sex_Code']].head())

# 9. One-hot encode Embarked
embarked_dummies = pd.get_dummies(df['Embarked'], prefix='Embarked')
df = pd.concat([df, embarked_dummies], axis=1)
print("\n🔹 One-hot encoded Embarked:")
print(embarked_dummies.head())

# 10. Create FarePerPerson = Fare / FamilySize
df['FarePerPerson'] = df['Fare'] / df['FamilySize']
print("\n🔹 FarePerPerson column:")
print(df[['Fare', 'FamilySize', 'FarePerPerson']].head())

# 11. Extract LastName and show repeated ones
df['LastName'] = df['Name'].str.extract(r'(^[A-Za-z]+)', expand=False)
repeated_names = df['LastName'].value_counts()
print("\n🔹 Surnames with more than one occurrence:")
print(repeated_names[repeated_names > 1])

🔹 FamilySize column:
   SibSp  Parch  FamilySize
0      1      0           2
1      1      0           2
2      0      0           1
3      1      0           2
4      0      0           1

🔹 IsAlone column:
   FamilySize  IsAlone
0           2        0
1           2        0
2           1        1
3           2        0
4           1        1

🔹 Title extracted from Name:
                                                Name Title
0                            Braund, Mr. Owen Harris    Mr
1  Cumings, Mrs. John Bradley (Florence Briggs Th...   Mrs
2                             Heikkinen, Miss. Laina  Miss
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)   Mrs
4                           Allen, Mr. William Henry    Mr

🔹 Cleaned Title values:
Title
Mr        517
Miss      185
Mrs       126
Master     40
Rare       23
Name: count, dtype: int64

🔹 AgeBin column:
    Age AgeBin
0  22.0  Adult
1  38.0  Adult
2  26.0  Adult
3  35.0  Adult
4  35.0  Adult

🔹 FareBin column:
      Fare   FareBin
0   7.2500       Low
1  71.2833  VeryHigh
2   7.9250       Mid
3  53.1000  VeryHigh
4   8.0500       Mid

🔹 Fare_Normalized column:
      Fare  Fare_Normalized
0   7.2500        -0.502163
1  71.2833         0.786404
2   7.9250        -0.488580
3  53.1000         0.420494
4   8.0500        -0.486064

🔹 Sex_Code column:
      Sex  Sex_Code
0    male         0
1  female         1
2  female         1
3  female         1
4    male         0

🔹 One-hot encoded Embarked:
   Embarked_C  Embarked_Q  Embarked_S
0       False       False        True
1        True       False       False
2       False       False        True
3       False       False        True
4       False       False        True

🔹 FarePerPerson column:
      Fare  FamilySize  FarePerPerson
0   7.2500           2        3.62500
1  71.2833           2       35.64165
2   7.9250           1        7.92500
3  53.1000           2       26.55000
4   8.0500           1        8.05000

🔹 Surnames with more than one occurrence:
LastName
Andersson    9
O            9
Sage         7
Skoog        6
Panula       6
            ..
Becker       2
Calic        2
Allen        2
Futrelle     2
Braund       2
Name: count, Length: 138, dtype: int64

In [ ]:

df.to_csv('titanic_cleaned.csv', index=False)

print("✅ File 'titanic_cleaned.csv' has been saved successfully.")

✅ File 'titanic_cleaned.csv' has been saved successfully.

In [ ]:
from google.colab import files
files.download('titanic_cleaned.csv')